{% extends "base.html" %}


{% block title %}Employee Registration Form{% endblock title %}

 {% block content %}
   <div class="mt-5 ">
      
   <form class="col-sm-4 card p-3 shadow-lg  mx-auto " method ="post">
     {% csrf_token %}
      <h2 class="text-center ">Add Employee</h2>
      <hr>
  <div class="mb-3">
    <label  class="form-label">Employee'name</label>
    <input    name="Name" type="text" class="form-control">
   
  </div>
  <div class="mb-3 ">
    <label  class="form-label">Gender</label>
    <input name ="Gender"type="text" class="form-control" >
  </div>


  <div class="mb-3">
    <label  class="form-label">Designation</label>
    <input type="text" name="Designation" class="form-control" >
  </div>


 
  
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<div class='col-sm-8 mt-5'>

  <table class="table table-hover">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Employee'name</th>
      <th scope="col">Gender</th>
      <th scope="col">Designation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for em in User%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{em.Name}}</td>
      <td>{{em.Gender}}</td>
      <td>{{em.Designation}}</td>
     
      <td>
<a href="{% url 'update_employee' em.id %}" class='btn btn-warning btn-sm'> Edit</a>
<a href="{% url 'delete_employee' em.id %}" class='btn btn-danger btn-sm'> Delete</a>
       
      </td>
     
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


   </div>
   {% endblock content %}